$navbar_height: 14vh
$transition_time: 200ms
$bottombar_height: 2.5vh

.HeroView
	width: 100%
	height: 100vh - $navbar_height
	background-image: url("/src/assets/images/landscape_background2.jpg")
	background-position: 50% 80%
	z-index: -1

	$container_height: 20vh - $bottombar_height
	.color_filter_container
		height: $container_height
		width: 100%
		padding-top: 100vh - $navbar_height - $container_height -  $bottombar_height
		background-color: fade-out(black, .95)

		$container_background_color: transparent // #1a1a1a
		.container
			height: $container_height + $bottombar_height
			width: 100%
			background-color: $container_background_color
			z-index: 0

			$top_background_container_color: darken(#a09a85, 20%)
			$border_color: fade-out(yellow, .7)
			.top_container
				height: $container_height +  $bottombar_height
				width: 60%
				border-left: .5px solid $border_color
				border-right: .5px solid $border_color
				border-top: 1px solid $border_color
				box-shadow: 0 0 25px fade_out(black, .5)
				margin: 0 auto
				background-color: $top_background_container_color
				display: flex
				flex-direction: row
				align-content: center
				justify-content: center


				.item:hover
					background-color: transparent
					border-bottom: 1px solid white
					transition: background-color $transition_time

				.item:hover .title
					color: white
					transition: color $transition_time

				.item
					border-left: .5px solid $border_color
					border-right: .5px solid $border_color
					width: 20%
					background-color: fade-out(black, .75)
					padding: 1vh 1vw 3.5vh 1vw
					transition: background-color $transition_time

					.container
						height: 100%
						background-color: transparent
						display: flex
						flex-direction: column
						align-content: center
						justify-content: space-evenly

						.icon
							height: 50%
							object-fit: contain

						.title
							font-size: 1.8em
							font-variant-caps: all-small-caps
							font-weight: bolder
							color: darken(white, 10%)
							transition: color $transition_time




@media screen and (orientation: portrait)
	.HeroView
		background-image: url("/src/assets/images/portrait_background.jpg")




