$navbar_height: 11 - 1vh
$transition_time: 200ms
$background_transition_time: 3s
$bottombar_height: 2.5vh

$x_translation: 6vw
@keyframes display
	0%
		transform: translateX($x_translation)
		opacity: 0

	10%
		transform: translateX(0)
		opacity: 1

	20%
		transform: translateX(0)
		opacity: 1

	30%
		transform: translateX(-$x_translation)
		opacity: 0

	100%
		transform: translateX(-$x_translation)
		opacity: 0

@function time_before_transition($n)
	@return $background_transition_time*($n - 2)+$background_transition_time





@media screen and (orientation: landscape)
	$heroview_height: 100vh - $navbar_height
	.HeroView
		width: 100%
		height: $heroview_height
		background-color: transparent
		position: relative
		border-bottom: .5px solid black

		.pic-ctn
			position: relative
			width: 100%
			height: 100%
			overflow-x: hidden
			background-color: transparent

			.pic
				position: absolute
				top: 0
				height: 100%
				width: 100vw + $x_translation/2
				object-fit: cover
				object-position: center center
				left: -$x_translation/2
				opacity: 0
				z-index: -1
				animation: display 5*$background_transition_time infinite

			img:nth-child(2)
				animation-delay: time_before_transition(2)

			img:nth-child(3)
				animation-delay: time_before_transition(3)

			img:nth-child(4)
				animation-delay: time_before_transition(4)

			img:nth-child(5)
				animation-delay: time_before_transition(5)

		$container_height: 18vh
		.color_filter_container
			height: $container_height
			top: 0
			position: absolute
			width: 100%
			padding-top: $heroview_height - $container_height
			background-color: fade-out(black, .95)

			$container_background_color: transparent // #1a1a1a
			.container
				height: $container_height
				width: 100%
				background-color: $container_background_color
				z-index: 0

				$border_color: fade-out(#4e3e2b, .7)
				.top_container
					height: $container_height
					width: 70%
					margin: 0 auto
					border-left: .5px solid $border_color
					border-right: .5px solid $border_color
					border-top: 1px solid $border_color
					box-shadow: 0 0 25px fade_out(black, .5)
					background-color: $container_background_color
					display: flex
					flex-direction: row
					align-content: center
					justify-content: center

					$item_background_container_color: #6d5d51
					.item:hover
						border-bottom: 1px solid white
						opacity: 1
						transition: opacity $transition_time

					.item:hover .title
						color: white
						opacity: 1
						transition: color $transition_time, opacity $transition_time

					.item
						border-left: .5px solid $border_color
						border-right: .5px solid $border_color
						width: 20%
						background-color: $item_background_container_color
						opacity: .85
						padding: 1.5vh .5vw
						transition: opacity $transition_time

						.container
							height: 100%
							background-color: transparent
							display: flex
							flex-direction: column
							align-content: center
							justify-content: space-between

							.icon
								height: 50%
								object-fit: contain

							.title
								font-size: 175%
								font-variant-caps: all-small-caps
								font-weight: bolder
								color: darken(white, 10%)
								transition: color $transition_time
								max-lines: 2
								overflow: hidden

							.spacer_bar
								display: inline-block
								margin: 1vh auto 0
								width: 45%
								border-top: 1px solid white

@media screen and (orientation: portrait)
	$heroview_height: 100vh - 10vh - 8vh
	$container_width: 40vw
	.HeroView
		width: 100%
		height: $heroview_height
		background-color: transparent
		position: relative
		border-bottom: .5px solid black

		.pic-ctn
			position: relative
			width: 100%
			height: 100%
			overflow-x: hidden
			background-color: transparent

			.pic
				position: absolute
				top: 0
				height: 100%
				width: 100vw + $x_translation/2
				object-fit: cover
				object-position: center center
				left: -$x_translation/2
				opacity: 0
				z-index: -1
				animation: display 5*$background_transition_time infinite

			img:nth-child(2)
				animation-delay: time_before_transition(2)

			img:nth-child(3)
				animation-delay: time_before_transition(3)

			img:nth-child(4)
				animation-delay: time_before_transition(4)

			img:nth-child(5)
				animation-delay: time_before_transition(5)

	.color_filter_container
		height: 100%
		top: 0
		position: absolute
		width: $container_width
		padding-left: 100vw - $container_width
		background-color: fade-out(black, .95)

		$container_background_color: transparent // #1a1a1a
		.container
			height: 100%
			width: 100%
			background-color: $container_background_color
			z-index: 0

			$border_color: fade-out(#4e3e2b, .7)
			.top_container
				height: 100%
				width: 100%
				border-top: .5px solid $border_color
				border-bottom: .5px solid $border_color
				border-left: 1px solid $border_color
				box-shadow: 0 0 25px fade_out(black, .5)
				background-color: $container_background_color
				display: flex
				flex-direction: column

				$item_background_container_color: #6d5d51
				.item
					border-bottom: .5px solid $border_color
					border-top: .5px solid $border_color
					width: $container_width
					height: 20%
					background-color: $item_background_container_color
					opacity: .85

					.container
						height: 98%
						padding: 1% 0
						background-color: transparent
						display: flex
						flex-direction: column
						align-content: center
						align-items: center
						justify-content: center

						.icon
							width: 40%
							padding-bottom: 2%
							object-fit: contain

						.title
							font-size: 2.5vh
							font-variant-caps: petite-caps
							font-weight: bolder
							color: darken(white, 10%)
							transition: color $transition_time
							max-lines: 2
							overflow: hidden

						.spacer_bar
							display: none
							margin: 0
							width: 0
							height: 0




