$transition_time: 300ms

.ServicesView
	width: 100%

	.container
		padding: 2vh 10vw
		height: 85%

		.title
			font-size: 2.5em
			text-align: center
			color: black
			margin-bottom: 2%

		.blocks
			display: flex
			flex-direction: row
			align-content: center
			justify-content: space-evenly

			.block:hover
				box-shadow: 0 0 10px fade-out(black, .7)
				transition: box-shadow $transition_time

			.block
				width: 30%
				height: 30vh
				border: .1px solid fade-out(black, .8)
				background-color: antiquewhite
				box-shadow: 0 0 10px fade-out(black, .95)
				transition: box-shadow $transition_time

				.image
					width: 100%
					object-fit: cover
					height: 60%
					border-bottom: .5px solid fade-out(black, .7)

				.block_container
					width: 90%
					padding: 2% 5%

					.block_title
						text-align: center
						font-size: 1.6em
						margin-bottom: 2.5%
						color: lighten(black, 10%)
						font-variant-caps: petite-caps

					.block_description
						font-size: 1.1em
						color: lighten(black, 20%)


