$transition_time: 300ms

.ServicesView
	width: 100%

	.container
		display: flex
		flex-direction: column
		padding: 2vh 7vw 0

		.title
			font-size: 2.5em
			text-align: center
			color: black
			margin-bottom: 1.5vh

		.blocks
			width: 100%
			display: flex
			align-content: center
			justify-content: space-evenly

			.block:hover
				box-shadow: 0 0 10px fade-out(black, .7)
				transition: box-shadow $transition_time

			.block
				margin: 0 .5% 2vh
				border: .1px solid fade-out(black, .8)
				background-color: antiquewhite
				box-shadow: 0 0 10px fade-out(black, .95)
				transition: box-shadow $transition_time

				.image
					width: 100%
					object-fit: cover
					border-bottom: .5px solid fade-out(black, .7)

				.block_container
					width: 90%
					padding: 2.5% 5% 1%

					.block_title
						display: flex
						justify-content: center
						align-items: center
						margin-bottom: 3%
						text-align: center
						font-size: 160%

						color: lighten(black, 10%)
						font-variant-caps: petite-caps

					.block_description
						font-size: 110%
						color: lighten(black, 20%)

@media screen and (orientation: landscape)
	.blocks
		flex-wrap: wrap

		.block
			width: 30%
			min-width: 250px

			.image
				height: 55%

			.block_container
				height: 45%

@media screen and (orientation: portrait)
	.blocks
		flex-direction: column
		align-items: center

		.block
			width: 70%

			.block_container
				height: 40%



